*{
    margin: 0%;
    padding: 0%;
}

.heading {
    color: blue;
    padding: 2px;
    margin: 5px;
}

/* p{
    color: red;
    font-style: italic;
    margin: 5px;
} */

a{
    color: aquamarine;
}

.formatting{
    padding: 5px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    text-align: center;
}