*{
    margin: 0%;
    padding: 0%;
}
nav{
    background-color: cadetblue;
    display: flex;
    align-items: center;
    padding: 10px;
}
.navbar {
    flex: 1;
    text-align: right;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px;
}
.heading {
    color: blue;
    padding: 2px;
    margin: 5px;
}

/* p{
    color: red;
    font-style: italic;
    margin: 5px;
} */

a{
    color: aquamarine;
}

.formatting{
    padding: 5px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    text-align: center;
}

img{
    align-items: center;
    text-align: center;
}

table{
    padding: 10px;
    margin: 12px;
    text-align: center;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 8px;
    margin: 6px;
}

tr:hover{
    background-color: aquamarine;
}


.btn{
    background-color: green;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}


.form{
    align-items: center;
    padding: 25px;
    margin: 20px;
}
