*{
    padding: 0px;
    margin: 0px;
}

header{
    padding: 16px 80px;
    background-color: #FFFFFF;
}
.navbar{
    padding: 0px 32px 0px   ;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    text-align: right;
    display: flex;
}

.navbar img{
    width: 96px;
    height: 36px;
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}


.navbar ul li a{
    text-decoration: none;
    color: #4B5563;
    font-size: 16px;
    font-weight: 500;
    font-family: "inter";
}

.navbar ul li button{
    background-color: #111827;
    color: #F9FAFB;
    width: 104px;
    height: 24px;
    line-height: 24px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}


.navbar ul li img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.container{
    justify-content: space-between;
    padding: 96px 80px 96px 80px;
    background-color: #FFFFFF;
}
.profile{
    display: flex;
    padding: 0px 32px 0px;
}

.column1{
    width: 768px;
    height: 360px;
    gap: 48px;
}
.column1 h1{
    width: 418px;
    height: 72px;
    font-family: "inter";
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -2%;
}

.column1 p{
    width: 768px;
    height: 72px;
    color: #4B5563;
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.location{
    display: flex;
    width: 768px;
    height: 24px;
    gap: 8px;
    padding-top: 20px;
    
}
.location p{
    width: 137px;
    height: 24px;
    color: #4B5563;
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.location img{
    width: 24px;
    height: 24px;
    color: #4B5563;
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.other{
    display: flex;
    gap: 8px;
    width: 227px;
    height: 24px;
    padding-top: 20px;
}

.other p{
    width: 195px;
    height: 24px;

}


.other img{
    width: 8px;
    height: 8px;
    border-radius: 20px;
}

.links{
    height: 36px;
    gap: 16px;
    display: flex;
    padding-top: 20px;
}

.links button{
    width: 36px;
    height: 36px;
    padding: 6px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: none;
}

.links img{
    width: 24px;
    height: 24px;
    size: 24px;
}


.column2{
    width: 400px;
    height: 360px;
}

.column2 img{
    width: 320px;
    height: 360px;
    box-shadow: 50px 50px #E5E7EB;
}


.about{
    padding: 96px 80px 96px 80px;
    background-color: #F9FAFB;
}

.about-me{
    height: 770px;
    padding: 0px 32px 0px;
    gap: 48px;
}

.about-header{
    padding: 4px 20px;
    background-color: #E5E7EB;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

.about-info{
    display: flex;
}

.column3{
    width: 584px;
    height: 694px;
}

.column3 img{
    width: 440px;
    height: 520px;
    box-shadow: -50px 50px #E5E7EB;
    
}

.column4{
    width: 584px;
    height: 694px;
}

.column4 h1{
    width: 503px;
    height: 36px;
    font-family: "inter";
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -2%;
    color: #111827;
}


.column4 p{
    width: 584px;
    height: 120px;
    font-family: "inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #4B5563;
}


.skills{
    padding: 96px 80px;
    background-color: #FFFFFF;
}

.skill-info{
    padding: 0px 32px 0px;
}

.skills-header{
    padding: 4px 20px;
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.skill-title{
    font-family: "inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
}

.data{
    justify-content: space-between;
    display: flex;
    height: 100px;
    padding-top: 20px;
}

.data img{
    width: 64px;
    height: 64px;
}


.experience{
    padding: 96px 80px;
}

.experience-info{
    padding: 0px 32px 0px;
}

.experience-header{
    padding: 4px 20px;
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.experience-title{
    font-family: "inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
}

.experience-data{
    width: 896px;
    padding: 32px;
    border-radius: 12px;
    background-color: #FFFFFF;
    /* box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.6); */
}

.experience-sub-data{
    width: 832px;
    height: 250px;
    display: flex;
    gap: 48px;
    margin-top: 32px;
}

.experience-col-1{
    width: 206px;
    height: 28px;
}

.experience-col-1 img{
    width: 102px;
    height: 28px;
}

.experience-col-2{
    width: 384px;
    height: 28px;

}

.experience-col-2 p{
    font-family: "inter";
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #111827;
}

.experience-col-2 ul li{
    
    font-family: "inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #4B5563;
}


.experience-col-3{
    width: 146px;
    height: 24px;
}

.experience-col-3 p{
    font-family: "inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #374151;
    text-align: right;
}


.work{
    padding: 96px 80px;
    background-color: #FFFFFF;
}

.work-info{
    padding: 0px 32px 0px;
}

.work-header{
    padding: 4px 20px;
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.work-title{
    font-family: "inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
}

.work-data{
    display: flex;
    gap: 24px;
    padding: 48px;
    background-color: #FFFFFF;
    /* box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.6); */
    
}

.work-col-1{
    width: 576px;
    height: 480px;
}

.work-col-1 img{
    width: 480px;
    height: 384px;
    border-radius: 12px;
}

.work-col-2{
    width: 576px;
    height: 480px;  
}

.work-col-2 h1{
    width: 480px;
    height: 28px;
    font-family: "inter";
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #111827;
}

.work-col-2 p{
    width: 480px;
    height: 96px;
    padding-top: 20px;
    font-family: "inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #4B5563  ;
}

.badges{
    padding: 10px 0;
    display: flex;
    gap: 8px;
}

.badges span{
    padding: 4px 10px;
    background-color: #E5E7EB;
    border-radius: 12px;
}

.work-col-2 img{
    border-radius: 8px;
    padding-top: 20px;
    cursor: pointer;
}


/* .reverse{
    flex-direction: row-reverse;
} */

.testimonials{
    padding: 96px 80px;
    background-color: #F9FAFB;
}

.testimonials-info{
    padding: 0px 32px 0px;
}

.testimonials-header{
    padding: 4px 20px;
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.testimonials-title{
    font-family: "inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
}

.testimonials-data{
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.testimonials-card{
    width: 250px;
    height: 350px;
    margin-top: 40px;
    padding: 20px;
    text-align: center; 
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.testimonials-card img{
    padding: 20px;
}

.testimonials-card p{
    font-family: "inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #4B5563;
}

.testimonials-card h1{
    padding: 20px;
    font-family: "inter";
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
}

.getintouch{
    padding: 96px 80px;
    background-color: #FFFFFF;
}

.getintouch-info{
    padding: 0px 32px 0px;
}

.getintouch-header{
    padding: 4px 20px;
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.getintouch-title{
    font-family: "inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
}

.getintouch-data{
    width: 596px;
    height: 104px;
    gap: 16px;
    padding: 20px;
    margin: 40px auto;
}

.getintouch-email{
    width: 596px;
    height: 44px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.getintouch-email img{
    width: 32px;
    height: 32px;
    padding: 6px;
}

.getintouch-email p{
    font-family: "inter";
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -2%;
    color: #111827;
}


.getintouch-phone{
    width: 596px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.getintouch-phone img{
    width: 32px;
    height: 32px;
    padding: 6px;
}

.getintouch-phone p{
    width: 300px;
    font-family: "inter";
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -2%;
    color: #111827;
}

.getintouch-other{
    width: 312px;
    height: 68px;
    margin: auto;
}

.getintouch-other p{
    height: 24px;
    font-family: "inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #4B5563;
}

.getintouch-other-links{
    height: 36px;
    display: flex;
    justify-content: center;
}

.getintouch-other-links button{
    width: 36px;
    height: 36px;
    padding: 6px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: none;

}

.getintouch-other-links button img{
    width: 24px;
    height: 24px;
    size: 24px;
}

footer{
    padding: 24px 80px;
    background-color: #F9FAFB;
}

.footer{
    padding: 0px 32px 0px;
}

.footer-data{
    width: 370px;
    height: 20px;
    display: flex;
    gap: 8px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.footer-data img{
    width: 16px;
    height: 16px;
}

.footer-data p{
    font-family: "inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #4B5563;
}