*{
    padding: 0px;
    margin: 0px;
}

.navbar{
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    text-align: right;
    flex: 1;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 20px;
    justify-content: space-between;
}


.navbar ul li a{
    text-decoration: none;
    color: #4B5563;
    font-size: 16px;
    
    font-weight: 500;
    font-family: "inter";
}

.navbar ul li button{
    background-color: #111827;
    color: #F9FAFB;
    width: 104px;
    height: 24px;
    line-height: 24px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}


.navbar ul li img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.container{
    justify-content: space-between;
    padding: 96px 80px 96px 80px;
}
.profile{
    display: flex;
    padding: 0px 32px 0px;
}

.column1{
    width: 768px;
    height: 360px;
    gap: 48px;
}
.column1 h1{
    width: 418px;
    height: 72px;
    font-family: "inter";
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -2%;
}

.column1 p{
    width: 768px;
    height: 72px;
    color: #4B5563;
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.other p{
    width: 768px;
    height: 24px;
    gap: 8px;
    padding-top: 20px;
    color: #4B5563;
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.other img{
    width: 8px;
    height: 8px;
    border-radius: 20px;
}

.links{
    width: 116px;
    height: 36px;
    gap: 4px;
}